:root{
    --top-gray: #a9a9a9;
    --orange: #efad3c;
    --bg: #f7fffb;
    --btn-blue: #1a32ff;
}

body {
    background: var(--bg);
    margin: 0;
}

.topbar{
    background: var(--top-gray);
    height: 96px;
}

.brand{
    line-height: 1.1;
    margin: 0;
}

.brand-main{
    color: #0e0e0e;
    font-size: 2.2rem;
    font-weight: 800;
    display: block;
}

.brand-sub{
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #555;
    letter-spacing: 0.05em;
}

.menubar{
    background: var(--orange);
    height: 86px;
}

.menubar .nav-link{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.menubar .nav-link:hover{
    text-decoration: underline;
}

.cars{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 24px;
}

.col-lg-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-lg-4 h2{
    min-height: 96px;
    text-align: center;
}

.col-lg-4 .btn{
    margin-top: auto;
}

.btn-orange{
    background: var(--orange);
    border: none;
    border-radius: 12px;
    padding: 14px 18px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    box-shadow: none;
}

.nav-actions a{
    color:#000;
    font-weight: 500;
}

.nav-actions a:hover{
    text-decoration: underline;
    color: #555;
}

.footer-bar{
  background: #a9a9a9;
  width: 100%;
  height: 90px;
}

.footer-bar p{
  font-size: 18px;
}

.success-float{
    position: absolute;
    bottom: 90px;
    left: 20;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 6px;
}

@media(max-width: 992px){
    .topbar{
        height: auto;
        padding: 18px 0;
    }
    .brand{
        font-size: 34px;
    }

    .menubar{
        height: auto;
        padding: 18px 0;
    }

    .menubar .nav{
        gap: 28px;
        flex-wrap: wrap;
    }

    main{
        padding-top: 35px;
    }
}